@model ClinicFormViewModel

<tr>
	<td>@Model.Name</td>
	<td>@Model.Location</td>
	<td><span class="badge bg-@(Model.IsDeleted ? "danger" : "success")">@(Model.IsDeleted ? "Deleted" : "Active")</span></td>
	<td>@Model.LastUpdatedOn</td>
	<td>
		<div class="dropdown">
			<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu" data-bs-toggle="dropdown" aria-expanded="false">
				Actions
			</button>
			<ul class="dropdown-menu" aria-labelledby="dropdownMenu">
				<li><a class="dropdown-item js-render-modal" data-url="Clinic/Update/@Model.Id" data-update="true" data-title="Update Clinic" style="cursor:pointer">Update</a></li>
				<li><a class="dropdown-item js-toggle-status" data-url="Clinic/ToggleStatus/@Model.Id"  style="cursor:pointer">Toggle Status</a></li>
			</ul>
		</div>
	</td>

</tr>