@model IEnumerable<ClinicFormViewModel>

@{
	ViewData["Title"] = "Clinics";
}


<!-- Main content -->
<section class="content">

	<!-- Default box -->
	<div class="card card-solid">
		<div class="card-header row">
			<h3 class="col-sm-6">
				Clinics
			</h3>
			<div class="col-sm-6 d-flex justify-content-end">
				<a class="btn btn-md btn-primary js-render-modal" data-url="Clinic/Create" data-title="Create Clinic">
					<i class="fas fa-pen"></i> Create
				</a>
			</div>
		</div>

		@if (!Model.Any())
		{
			<div class="alert alert-warning alert-dismissible m-3">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
				<h5><i class="icon fas fa-exclamation-triangle"></i> Warning!</h5>
				No Clinics Available
			</div>
		}
		else
		{
			<div class="card-body pb-0">
                <div class="table-responsive p-0">
                    <table class="table table-hover text-nowrap js-dataTable">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Location</th>
                                <th>Status</th>
                                <th>Last Updated Time</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody id="ClinicRows">
                            @foreach (var clinic in Model)
							{
								<partial name="_ClinicRow" model="clinic" />
							}
                            
                        </tbody>
                    </table>
                </div>
			</div>

		}

	</div>


</section>
<!-- /.content -->

@section Scripts{
	<partial name="_ValidationScriptsPartial"/>
}